* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .Main {
    overflow-y: hidden;
    overflow-wrap: break-word;
  }
  
  main {
    top: 0;
    left: 0;
    width: 100vh; 
    height: 100vw;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  article {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
  }
  
  section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  section:nth-of-type(odd) {
    background: white;
    color: black;
  }
  
  section:nth-of-type(even) {
    background: black;
    color:  white;
    color: black;
  }

.page {
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  top: 8%;
  height: 70vh;
  width: 65vw;
  mix-blend-mode: difference;
  color: white;
  z-index: 1;
  /* border: 2px solid white; */
}


