.navs {
    margin-left: 2.5rem;   
    padding: 1rem;
}

.navs:hover {
    border-bottom: 2px solid yellow;
}

.Logo {
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: yellow;
    color: red;
}

.anotherLogo {
    position: relative;
    top: 25vh;
    left: 28vw;
    border-radius: 1rem;
    background-color: yellow;
    color: red;
    padding: 1.5rem;
    cursor: pointer;
}

.txt {
    font-size: 3rem;
    font-weight: 550;
    text-align: center;
    letter-spacing: 3px;
    
}

.tp {
    margin-top: 15rem;
}

.into {
    font-weight: 300;
}