.Section1 {
    /* mix-blend-mode: difference; */
    /* position: sticky;
    top: 50%;
    left: 0; */
    /* color: black; */
    color: white;
    
}

/* .head {
    position: sticky;
    top: 80%;
    left: 0;
} */
